
{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adda - Social Network HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_PATH }}images/favicon.ico">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/vendor/bicon.min.css">
    <!-- Flat Icon CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/vendor/flaticon.css">
    <!-- audio & video player CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/plugins/plyr.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/plugins/slick.min.css">
    <!-- nice-select CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/plugins/nice-select.css">
    <!-- perfect scrollbar css -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/plugins/perfect-scrollbar.css">
    <!-- light gallery css -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/plugins/lightgallery.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ STATIC_PATH }}css/style.css">

</head>

<body class="bg-transparent">

    <main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">
                <div class="timeline-header">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-6">
                                <div class="timeline-logo-area d-flex align-items-center">
                                    <div class="timeline-logo">
                                        <a href="{% url 'home:home' %}">
                                            <img src="{{ STATIC_PATH }}images/logo/logo.png" alt="timeline logo">
                                        </a>
                                    </div>
                                    <div class="timeline-tagline">
                                        <h6 class="tagline">It’s helps you to connect and share with the people in your life</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="login-area">
                                    <div class="row align-items-center">
                                        
                        
                                        <div class="col-12 col-sm">
                                            <br>
                                            <br>
                                        </div>
                                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-page-wrapper">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6 order-2 order-lg-1">
                                <div class="timeline-bg-content bg-img" data-bg="{{ STATIC_PATH }}images/timeline/adda-timeline.jpg">
                                    <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world. Welcome in Adda.</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                                        {% block auth %}
                                        {% endblock %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="{{ STATIC_PATH }}js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- jQuery JS -->
    <script src="{{ STATIC_PATH }}js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Popper JS -->
    <script src="{{ STATIC_PATH }}js/vendor/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="{{ STATIC_PATH }}js/vendor/bootstrap.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="{{ STATIC_PATH }}js/plugins/slick.min.js"></script>
    <!-- nice select JS -->
    <script src="{{ STATIC_PATH }}js/plugins/nice-select.min.js"></script>
    <!-- audio video player JS -->
    <script src="{{ STATIC_PATH }}js/plugins/plyr.min.js"></script>
    <!-- perfect scrollbar js -->
    <script src="{{ STATIC_PATH }}js/plugins/perfect-scrollbar.min.js"></script>
    <!-- light gallery js -->
    <script src="{{ STATIC_PATH }}js/plugins/lightgallery-all.min.js"></script>
    <!-- image loaded js -->
    <script src="{{ STATIC_PATH }}js/plugins/imagesloaded.pkgd.min.js"></script>
    <!-- isotope filter js -->
    <script src="{{ STATIC_PATH }}js/plugins/isotope.pkgd.min.js"></script>
    <!-- Main JS -->
    <script src="{{ STATIC_PATH }}js/main.js"></script>

</body>

</html>